<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
       <%- include('../partials/navigation') %>

      <main>
        <%- body %>
    </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>

<!--The layout file is missing the Doctype declaration at the top.
The head partial should not have lines 1-5 and 13-15, remove them.-->

